.navbar {
  background-color: #4A55A2;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h2 {
  color: white;
  font-weight: 600;
}

.navbar div {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.navbar a:hover {
  color: #F49D1A;
}

.logout-btn {
  padding: 6px 12px;
  background-color: #F49D1A;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
}

.logout-btn:hover {
  background-color: #e48a00;
}